.App-header {
  background-color:gold;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

 .carousel-item img {
  width: 1506px;
  height: 500px;
} 

.App{
  background-color: rgb(101, 99, 99);
}